<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js TODO List</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <div class="app-container" id="tasklist">
        <h1 class="app-header">Vue TO DO LIST</h1>
        <div class="add-task">
            <input type="text" autocomplete="off" placeholder="Add New Task" class="task-input" v-model="tasks.name" @keyup.enter="newItem">
            <input type="submit"  value="" class="submit-task" title="Add Task" @click="newItem">
        </div>
        <ul class="task-list">
            <li class="task-list-item" v-for="(task, index) in tasks">
                <label class="task-list-item-label">
                    <input type="checkbox">
                    <span v-if="index !== editingindex">{{ task.name }}</span>
                    <input v-else v-model="tasks[index].name" @keyup.enter="newItem">
                </label>
                <span class="delete-btn" title="Delete Task" @click="delItem(task)">{{task.del}}</span>
                <span class="edit-btn" title="Edit Task" @click="editItem(index)"></span>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main.js"></script>
    
</body>
</html>
